* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#canvas {
  display: block;
  background: black;
  position: fixed;
  /* width: 100vw; */
  /* height: 100vh; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#controls {
  position: fixed; 
  top: 10px;
  right: 10px;
  color: white;
  z-index: 100;
}
#info {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 100;
}